@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

    /*font-family: 'Amiko', sans-serif;*/

    /*font-family: 'Merriweather', serif;*/

    font-family: 'Rasa', serif;


}

*, *::before, *::after {
  box-sizing: inherit;
}

