@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

    font-family: 'Amiko', sans-serif;

    /*font-family: 'Merriweather', serif;*/
    background: black;


}

h1 {
	font-size: 5em;
	font-family: 'Rasa', serif;
	color: #fff;
}

ul {
	padding: 0;
	background-color: lightgrey;
}

li {
	display: inline;
}
*, *::before, *::after {
  box-sizing: inherit;
}


.grey {
	background-color: grey;
}

.white {
	background-color: white;
}

.orange {
	fill: #f9f9f9;
	stroke: transparent;
}


.spincircle {
	animation: spinny 18s ease-in alternate infinite;
		animation-delay: 3s;
		opacity: 0;
}

@keyframes spinny {
 0%{
 	transform: rotate(0deg) scale(0);
 	opacity: 0;

 }
 50% {
 	opacity: .2;
 }
100% {
 	transform: rotate(360deg) scale(3);
	opacity: 0;
}

}

.spincircle-delay {
	animation: spinnytoo 10s ease-out alternate infinite;

}


@keyframes spinnytoo {
 0%{
 	transform: rotate(0deg) scale(0);
 	opacity: 0;

 }

 50% {
 	opacity: .3;
 }
 100% {
 	transform: rotate(360deg) scale(5);
	opacity: 0;
}

}



